<div class="card">
    <div class="card-header">Wasm-git</div>
    <div class="card-body">
        <p>Create repositories at <a target="_blank" href="https://wasm-git.petersalomonsen.com">wasm-git.petersalomonsen.com</a></p>
        <span id="currentuserspan"></span>
        <button class="btn btn-dark" id="loginbutton">Login</button>
        <label for="remoterepo" class="form-label">Remote repository</label>
        <input type="text" class="form-control" id="remoterepo" placeholder="https://wasm-git.petersalomonsen.com/YOUR_ACCOUNT-nearsight">
        <button class="btn btn-primary" id="syncbutton">Synchronize</button>
    </div>
</div>
